<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.dao.InfoStaffMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.po.InfoStaff" >
    <id column="staff_id" property="staffId" jdbcType="BIGINT" />
    <result column="staff_name" property="staffName" jdbcType="CHAR" />
    <result column="staff_mobile" property="staffMobile" jdbcType="BIGINT" />
    <result column="password" property="password" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    staff_id, staff_name, staff_mobile, password
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hotel.po.InfoStaffExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from info_staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from info_staff
    where staff_id = #{staffId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from info_staff
    where staff_id = #{staffId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hotel.po.InfoStaffExample" >
    delete from info_staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hotel.po.InfoStaff" >
    insert into info_staff (staff_id, staff_name, staff_mobile, 
      password)
    values (#{staffId,jdbcType=BIGINT}, #{staffName,jdbcType=CHAR}, #{staffMobile,jdbcType=BIGINT}, 
      #{password,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.po.InfoStaff" >
    insert into info_staff
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="staffName != null" >
        staff_name,
      </if>
      <if test="staffMobile != null" >
        staff_mobile,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=CHAR},
      </if>
      <if test="staffMobile != null" >
        #{staffMobile,jdbcType=BIGINT},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hotel.po.InfoStaffExample" resultType="java.lang.Integer" >
    select count(*) from info_staff
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update info_staff
    <set >
      <if test="record.staffId != null" >
        staff_id = #{record.staffId,jdbcType=BIGINT},
      </if>
      <if test="record.staffName != null" >
        staff_name = #{record.staffName,jdbcType=CHAR},
      </if>
      <if test="record.staffMobile != null" >
        staff_mobile = #{record.staffMobile,jdbcType=BIGINT},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update info_staff
    set staff_id = #{record.staffId,jdbcType=BIGINT},
      staff_name = #{record.staffName,jdbcType=CHAR},
      staff_mobile = #{record.staffMobile,jdbcType=BIGINT},
      password = #{record.password,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.po.InfoStaff" >
    update info_staff
    <set >
      <if test="staffName != null" >
        staff_name = #{staffName,jdbcType=CHAR},
      </if>
      <if test="staffMobile != null" >
        staff_mobile = #{staffMobile,jdbcType=BIGINT},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
    </set>
    where staff_id = #{staffId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.po.InfoStaff" >
    update info_staff
    set staff_name = #{staffName,jdbcType=CHAR},
      staff_mobile = #{staffMobile,jdbcType=BIGINT},
      password = #{password,jdbcType=CHAR}
    where staff_id = #{staffId,jdbcType=BIGINT}
  </update>
</mapper>